# Install directory.
DATA_ROOT=/gluster_storage/swarm/administration/monitoring-autoscaler

### Autoscaler logger settings.
# Global log level for autoscaler. Possible values: INFO | VERBOSE | WARNING_AND_ERRORS_ONLY .
# You can also fine tune each services' log level in the deploy label section of each service.
AUTOSCALER_GLOBAL_LOG_LEVEL=INFO
# Log style for autoscaler. Possible values: PRINT_ONLY | LOGFILE_ONLY | PRINT_AND_LOGFILE .
# Define, if you want the log messages to be printed (-> writes to docker service logs ...) 
# or written into log files or both.
AUTOSCALER_LOG_STYLE=PRINT_AND_LOGFILE
# The timezone where the server is located / what the logger Datestring should be based on.
# https://mljar.com/blog/list-pytz-timezones/.
AUTOSCALER_TIMEZONE=Europe/Berlin

# Grafana Settings.
GRAFANA_URL=grafana.felicitas-wisdom.de
GRAFANA_USER=ENTER_USERNAME

# Grafana Mail / SMTP Settings.
GRAFANA_SMTP_ENABLED=true
GRAFANA_SMTP_HOST=smtp.strato.de
GRAFANA_SMTP_PORT=465
# GRAFANA_SMTP_USER is used for authentication on smtp HOST.
# GRAFANA_SMTP_USER and GRAFANA_SMTP_FROM_ADDRESS may need to be the same.
GRAFANA_SMTP_USER=webmaster@felicitas-wisdom.com
# GRAFANA_SMTP_FROM_ADDRESS is the adress as shown in the from field when receiving mails.
# GRAFANA_SMTP_USER and GRAFANA_SMTP_FROM_ADDRESS may need to be the same.
GRAFANA_SMTP_FROM_ADDRESS=webmaster@felicitas-wisdom.com
GRAFANA_SMTP_PASSWORD=PLEASE_USE_SECRET__THIS_IS_JUST_FOR_DEBUGGING_AND_TESTING
