# Ignore grafana data, but keep directory itself (by keeping .gitkeep file)
grafana_data/*
!grafana_data/.gitkeep

# Ignore prometheus data, but keep directory itself (by keeping .gitkeep file)
prometheus_data/*
!prometheus_data/.gitkeep

# Ignore everything in the autoscaler_logs directory.
autoscaler_logs/*
# But keep the autoscaler_logs directory itself.
!autoscaler_logs/.gitkeep
# Ignore everything in the dayBased directory.
autoscaler_logs/dayBased/*
# But keep the dayBased directory itself.
!autoscaler_logs/dayBased/
# And keep the .gitkeep file inside dayBased if you have one.
!autoscaler_logs/dayBased/.gitkeep


# Ignore config file.
.env
